target/**
**/*.rs.bk

Cargo.lock
.cargo/config.toml
.cargo/credentials

.vscode/**
*.code-workspace

.idea/**

*.swp
*.swo

*.sublime-project
*.sublime-workspace

.DS_Store # macOS
Thumbs.db # Windows
ehthumbs.db

*.log
*.tmp
*.bak
*.old