target/**
**/*.rs.bk

Cargo.lock          # Optional for libraries, keep for binaries
.cargo/config.toml # Per-project config
.cargo/credentials # Private tokens

.vscode/**
*.code-workspace

.idea/**

*.swp
*.swo

*.sublime-project
*.sublime-workspace

.DS_Store # macOS
Thumbs.db # Windows
ehthumbs.db

*.log
*.tmp
*.bak
*.old